.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.dishes,
.cart {
    width: 45%;
    border: 1px solid black;
    padding: 10px 10px;
}

.dish {
    border: 1px solid black;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.cart {
    max-height: 500px;
}

.img {
    height: 100px;
    width: 30%;
}

.dishInfo {
    width: 30%;
}

.addBtn {
    display: block;
    height: 30px;
    font-weight: 700;
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.addBtn:hover { background: rgb(53, 167, 110); }
.addBtn:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.cartHeading {
    text-align: center;
}

.orderBtn {
    display: block;
    margin: 10px auto 0;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background: #363636;
}

.orderBtn:hover { background: rgba(54, 54, 54,.8);}
.orderBtn:active { background: white;}

.currentInfo {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    border-bottom: 1px solid black;
}

.total {
    text-align: center;
}