.modal {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    background: white;
    padding-top: 70px;
}

.modalInputs {
    display: block;
    margin: 10px auto;
    width: 300px;
}